# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# configs
.env
*.ini

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/*

uploadfiles/csv_files/*
uploadfiles/AJE/*
app/controllers/helpers/aje_export_module/output/*
app/forms/data/*

id_rsa.pub
db_dump/*

*.code-workspace

# database backups
*.sqlite3.bak

# lint reports
flake8_output/
flake8_reports/

# IDE debug config
launch.json

# load test with internal URLs
test.py