acme==0.31.0
alembic==1.5.8
anyio==3.6.2
asgiref==3.3.4
asn1crypto==0.24.0
astropy==3.1.2
atomicwrites==1.1.5
attrs==18.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
blist==1.3.6
BTrees==4.3.1
certbot==0.31.0
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.3.7
ConfigArgParse==0.13.0
configobj==5.0.6
coverage==5.5
coveralls==3.0.1
crcmod==1.7
cryptography==2.6.1
Cython==0.29.2
decorator==4.3.0
distro-info==0.21+deb10u1
Django==3.2
django-extensions==3.2.1
dnspython==2.0.0
docopt==0.6.2
email-validator==1.1.1
entrypoints==0.3
enum34==1.1.6
fastapi==0.95.1
flake8==3.9.1
flake8-polyfill==1.0.2
flake8-print==4.0.0
Flask==1.1.2
Flask-Admin==1.5.7
Flask-BabelEx==0.9.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.16.0
gevent==1.3.7
greenlet==0.4.15
grpcio==1.16.1
gssapi==1.4.1
gunicorn==20.0.4
h11==0.8.1
hidapi==0.7.99.post21
http-parser==0.8.3
httptools==0.0.11
idna==2.10
importlib-metadata==4.0.1
indexed-gzip==0.8.6
ipython==5.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
josepy==1.1.0
jpy==0.9.0
JPype1==0.6.3
kdtree==0.7.1
keyring==17.1.1
keyrings.alt==3.1.1
Kyoto-Cabinet==1.5
Mako==1.1.4
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
more-itertools==4.2.0
num2words==0.5.10
numpy==1.19.5
olefile==0.46
pandas==1.2.0
parsedatetime==2.4
passlib==1.7.4
pbr==4.2.0
pep8-naming==0.11.1
persistent==4.2.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pluggy==0.8.0
ply==3.11
prelude==4.1.0
prompt-toolkit==1.0.15
psutil==5.5.1
psycopg2==2.8.6
py==1.7.0
py-radix==0.10.0
pyalsa==1.1.6
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
PyBluez==0.22
pycairo==1.16.2
pycodestyle==2.7.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydantic==1.10.7
pyflakes==2.3.1
Pygments==2.3.1
PyGObject==3.30.4
PyICU==2.2
pymad==0.10
pymongo==3.11.2
pyodbc==4.0.22
pyOpenSSL==19.0.0
pypcap==1.2.2
pyraf==2.1.15
pyRFC3339==1.1
pysendfile==2.0.1
pySFML==2.2.0
pysmbc==1.0.15.6
pytango==9.2.5
pytest==3.10.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-apt==1.8.4.3
python-casacore==3.0.0
python-dateutil==2.8.1
python-debian==0.1.35
python-editor==1.0.4
python-ldap==3.1.0
python-sane==2.8.3
pytz==2020.1
pyxattr==0.6.1
pyxdg==0.25
qrencode==1.2
requests==2.24.0
requests-toolbelt==0.8.0
rpy2==2.9.5
scipy==1.1.0
SecretStorage==2.3.1
selenium==3.141.0
simplegeneric==0.8.1
six==1.12.0
sniffio==1.3.0
speaklater==1.3
SQLAlchemy==1.3.20
sqlparse==0.4.1
starlette==0.26.1
stsci.tools==3.4.13
subvertpy==0.10.1
traitlets==4.3.2
typing-extensions==4.5.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.11
urwid==2.0.1
uvicorn==0.21.1
uvloop==0.11.2
wcwidth==0.1.7
websockets==11.0.2
Werkzeug==1.0.1
wheezy.template==0.1.167
wsproto==0.11.0
WTForms==2.3.3
yenc==0.4.0
zipp==3.4.1
zodbpickle==1.0
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
anyio==3.6.2
asgiref==3.4.1
attrs==22.2.0
autopep8==1.5.7
beautifulsoup4==4.10.0
bpytop==1.0.68
Brotli==1.0.9
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
ConfigArgParse==1.5.3
cryptography==41.0.2
dbfread==2.0.4
dj-database-url==0.5.0
Django==3.2.13
django-debug-toolbar==3.4.0
django-extensions==3.2.1
dnspython==2.3.0
email-validator==2.0.0.post2
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fastapi==0.95.1
flake8==4.0.1
Flask==2.0.2
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
gevent==21.8.0
geventhttpclient==1.5.2
greenlet==1.1.2
gunicorn==20.1.0
h11==0.14.0
httpcore==0.17.0
httplib2==0.20.1
httptools==0.5.0
httpx==0.24.0
idna==3.2
ijson==2.6.1
importlib-metadata==4.2.0
iniconfig==2.0.0
itsdangerous==2.0.1
Jinja2==3.0.2
locust==2.2.3
MarkupSafe==2.0.1
mccabe==0.6.1
mdbtools==0.3.14
meza==0.42.5
msgpack==1.0.2
numpy==1.21.2
openpyxl==3.0.9
orjson==3.8.10
packaging==23.0
pandas==1.3.5
pandas-access==0.0.1
pep8==1.7.1
pluggy==1.0.0
pprintpp==0.4.0
psutil==5.8.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pyflakes==2.4.0
pygogo==0.13.2
pymongo==3.12.0
pyodbc==4.0.32
pyOpenSSL==23.2.0
pyparsing==2.4.7
pytest==7.2.1
python-dateutil==2.8.2
python-decouple==3.4
python-dotenv==0.21.1
python-multipart==0.0.6
python-slugify==1.2.6
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.26.0
roundrobin==0.0.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.2.1
sqlparse==0.4.1
starlette==0.26.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.5.0
ujson==5.7.0
Unidecode==1.3.2
Unipath==1.1
urllib3==1.26.7
uuid==1.30
uvicorn==0.21.1
uvloop==0.17.0
watchfiles==0.19.0
websockets==11.0.2
Werkzeug==2.0.1
whitenoise==5.3.0
xlrd==1.2.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
